body{
    background: url(../img/clock.jpeg) no-repeat center center fixed; 
    background-size: cover;
    color:white;
}

.navbar-fixed-top{
    height: 80px;
    padding-top: 10px;    
}

.starter-template{
    margin-top:150px;
}

h2 {display: inline;}

#start{
    margin:20px;
}